# Python bytecode and binaries
__pycache__/
*.py[cod]
*.so

# Virtual Environments
.venv/
env/
venv/
ENV/

# Python packaging/build
dist/
build/
*.egg-info/
.tox/
.pytest_cache/

# Databases and Logs
*.sqlite3
*.db
*.log

# Environment variables (Sensitive Data)
.env

# IDE and OS
.idea/
.vscode/
.DS_Store